/* #0079FE BUTTON COLOR */

/* DARK COLOR */
/* 1F2A48 CONTAINER BACKGROUND */
/* 141C2F OUTER BACKGROUND */

/* LIGTH COLOR */
/* F5F8FF  OUTER BACKGROUND*/
/* FEFEFE CONTAINER BACKGROUND */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
