@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* #0079FE BUTTON COLOR */

/* DARK COLOR */
/* 1F2A48 CONTAINER BACKGROUND */
/* 141C2F OUTER BACKGROUND */

/* LIGTH COLOR */
/* F5F8FF  OUTER BACKGROUND*/
/* FEFEFE CONTAINER BACKGROUND */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f8ff;
}

.container {
  width: 90vw;
  max-width: 800px;
}

/* Search component styles */

.search {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%), 0 8px 14px rgb(0 0 0 / 10%);
  padding: 20px;
}

.search .search-input {
  display: flex;
  align-items: center;
}

.search-Ligth {
  background-color: #fefefe;
}

.search-Dark {
  background-color: #1f2a48;
}

/* UserInfo component styles */

.user-info-container {
  margin-top: 15px;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 8%), 0 8px 14px rgb(0 0 0 / 10%);
}

.desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-container img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.bio-container {
  text-align: center;
  margin: 30px 0px 20px 0px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f5f8ff;
  border-radius: 10px;
}

.stats-container div {
  text-align: center;
  margin: 10px;
}

.stats-container div .stat {
  font-weight: bold;
}

.links-container div p {
  display: flex;
  align-items: center;
}

.links-container .icon {
  margin: 5px;
  color: #4b6a9a;
}

/* Media querie for 768px */
@media only screen and (min-width: 768px) {
  .links-container {
    display: flex;
    justify-content: space-around;
  }
}

/* Media querie for 1440px */
@media only screen and (min-width: 1440px) {
  .desc-container .desc-container-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  /* .desc-container .desc-container-info {
    width: 50%;
    display: flex;
    justify-content: space-around;
  } */
}
